DJANGO_SECRET_KEY=change-this-to-a-long-random-value
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=147.45.185.185,localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://147.45.185.185
CSRF_TRUSTED_ORIGINS=http://147.45.185.185
POSTGRES_DB=chikkenoff
POSTGRES_USER=chikkenoff
POSTGRES_PASSWORD=change-this-db-password
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
